<form [formGroup]="importForm" (ngSubmit)="submitForm()">
    <div class="form-control">
        <div class=" mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="importName">
                Import Name
            </label>
            <input formControlName="importName"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="importName" type="text" placeholder="Enter Import Name">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="productType">
                Select Product ID Type
            </label>
            <select id="productType" formControlName="productType" class="w-full bg-gray-100 p-2 rounded">
                <option value="asin">ASIN</option>
                <option value="upc">UPC</option>
            </select>
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="productIDs">
                Product IDs
            </label>
            <textarea formControlName="productIDs"
                class="shadow appearance-none border rounded w-full h-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="productIDs"
                placeholder="Enter Product IDs (ASIN, UPC, or EAN) by line. Maximum of 5,000 Lines"></textarea>
        </div>
        <div class="flex items-center justify-center md:justify-end">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full md:w-full"
                type="submit">
                Submit
            </button>
        </div>
    </div>
</form>