<div class="w-full h-auto">
    <div class="w-full mx-auto bg-[#0f0f0f] rounded-lg shadow overflow-hidden">
      <div class="p-4 flex items-center justify-between">
        <div class="flex space-x-4">
          <select id="status"
                  class="bg-[#5f656a] border text-[#f1f1f1] text-sm rounded-lg focus:ring-blue-500 block w-full p-1.5">
            <option value="">status</option>
            <option value="3">Completed</option>
            <option value="2">Failed</option>
            <option value="1">Ongoing</option>
          </select>
  
          <!-- Static select for category -->
          <select id="category"
                  class="bg-[#5f656a] border text-[#f1f1f1] text-sm rounded-lg focus:ring-blue-500 block w-full p-1.5">
            <option value="">Category</option>
            <option value="Tool1">Tool 1</option>
            <option value="Tool2">Tool 2</option>
            <option value="Tool3">Tool 3</option>
          </select>
        </div>
  
        <div class="flex space-x-4 items-center">
          <p class="text-[#ebeae3] text-sm">Show all batches</p>
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer">
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
            </div>
          </label>
        </div>
      </div>
  
      <!-- Table with static data -->
      <table class="min-w-full divide-y divide-[#4f504f]">
        <thead class="bg-gray-900">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-[#c8c7ba] uppercase tracking-wider">
              <input type="checkbox"
                     class="form-checkbox h-4 w-4 text-[#49a5ab] transition duration-150 ease-in-out">
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-[#c8c7ba] uppercase tracking-wider cursor-pointer">
              Date Imported
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-[#c8c7ba] uppercase tracking-wider cursor-pointer">
              Date Updated
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-[#c8c7ba] uppercase tracking-wider">
              Import By
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-[#c8c7ba] uppercase tracking-wider">Batch ID</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-[#c8c7ba] uppercase tracking-wider">
              Import Name & Tool
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-[#c8c7ba] uppercase tracking-wider">Total Items</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-[#c8c7ba] uppercase tracking-wider">Progress</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-[#c8c7ba] uppercase tracking-wider">Status</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-[#c8c7ba] uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-[#0f0f0f] divide-y divide-[#4f504f]">
          <tr class="bg-gray-800">
            <td class="px-6 py-4 whitespace-no-wrap">
              <input type="checkbox"
                     class="form-checkbox h-4 w-4 text-[#49a5ab] transition duration-150 ease-in-out">
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm font-medium text-[#f1f1f1]">2024-07-05</td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm text-[#c8c7ba]">2024-07-06</td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm text-[#c8c7ba]">John Doe</td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm text-[#c8c7ba]">BATCH001</td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm text-[#c8c7ba]">
              <div>Import Tool 1</div>
              <div>Batch 1</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm text-[#c8c7ba]">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">100</span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm text-[#c8c7ba]">
              <div class="w-full bg-[#4f504f] rounded-full h-2">
                <div style="width: 70%; background-color: #38a169;" class="h-2 rounded-full"></div>
              </div>
              <span class="text-[0.7rem]">70% of 100 items</span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm text-[#c8c7ba]">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-500 text-white">Completed</span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm text-[#c8c7ba] flex flex-row items-center justify-center">
              <a class="cursor-pointer text-[#f1f1f1] hover:text-green-200 px-2 py-1 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"/>
                </svg>
              </a>
              <button class="hover:text-red-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <div class="p-4 flex justify-between items-center">
        <span class="text-[#f1f1f1] text-sm">Page 1 of 1</span>
  
        <p class="text-[#ebeae3] text-sm">Showing 1-1 of 1</p>
        <div class="flex flex-row justify-center items-center">
          <button class="bg-[#545a5d] text-[#f1f1f1] text-sm p-1.5 px-3 rounded hover:bg-[#1a3757] mr-2"
                  disabled>Previous
          </button>
          <button class="bg-[#545a5d] text-[#f1f1f1] text-sm p-1.5 px-3 rounded hover:bg-[#1a3757]">Next</button>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noDataTemplate>
    <div class="p-4 text-[#f1f1f1] mb-[30%]">
      No data to display
    </div>
  </ng-template>
  